<a href="https://www.instagram.com/riley_was_there" class="social-link" rel="noreferrer noopener" target="_blank">
    <i class="fa-brands fa-instagram"></i>
</a>
<a href="https://www.facebook.com/rjpphoto" class="social-link" rel="noreferrer noopener" target="_blank">
    <i class="fa-brands fa-facebook"></i>
</a>
<a href="mailto:rileypaul96@gmail.com" class="social-link"><i class="fa-solid fa-at"></i></a>
<div id="credit">Website created by Riley Paul</div>