<footer class="footer">
  <a href="https://www.instagram.com/riley_was_there" class="social-link" rel="noreferrer noopener" target="_blank"><img src="icons/1217174_instagram_icon.png" alt=""></a>
  <a href="https://www.facebook.com/rjpphoto" class="social-link" rel="noreferrer noopener" target="_blank"><img src="icons/1217141_fb_icon.png" alt=""></a>
  <a href="mailto:rileypaul96@gmail.com" class="social-link"><img src="icons/1217177_gmail_icon.png" alt=""></a>
  <div id="credit">Website created by Riley Paul</div>
</footer>