<img src="./../favicon.png" alt="Riley Paul">
<a href="" class="page-link">PORTFOLIO</a>
<a href="" class="page-link">BLOG</a>
<a href="" class="page-link">CONTACT</a>
<a href="" class="page-link">ABOUT</a>