<img src="./favicon.png" alt="Riley Paul">
<a href="/" class="page-link">PORTFOLIO</a>
<a href="/blog" class="page-link">BLOG</a>
<a href="/contact" class="page-link">CONTACT</a>
<a href="/about" class="page-link">ABOUT</a>