<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body class="container">
  <header>
    <%- include("../partials/header",{title:"Riley Paul"}); %>
  </header>

  <main class="galleries-container">
    <p>I am Riley Paul and I like to take photos</p>
  </main>
</body>

</html>