<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body class="container">
  <header>
    <%- include("../partials/header"); %>
  </header>

  <main>
    <h1>Riley Paul</h1>
    <div>403-998-2856</div>
    <div>rileypaul96@gmail.com</div>
  </main>

  <footer>
    <%- include("../partials/footer"); %>
  </footer>
</body>

</html>