<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body class="container">
  <header>
    <%- include("../partials/header"); %>
    <%= pages %> 
  </header>

  <main class="galleries-container">
  </main>

  <footer>
    <%- include("../partials/footer"); %>
  </footer>
</body>

</html>