header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: calc(130px - 1em);

  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 15px 0px;

  img {
    float: left;
    height: 80px;
    margin-left: 1em;
  }

  .links {
    display: flex;
    // justify-content: space-between;
    width: min-content;
    align-items: center;
    width: 100%;
    gap: 1em;
  }

  a {
    color: #5c5c5c;

    background-image: linear-gradient(black, black);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    background-size: 100% 0.1em;
    color: black;
  }
 
  #title {
    color: black;
    padding-right: 1.5em;
    text-align: right;
    white-space: nowrap;
  }
}
